body{margin-top:20px;}
.pricing-box {
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0.1, 0.1, 0, 0.1);
          box-shadow: 0px 5px 30px -10px rgba(0.1, 0.1, 0, 0.1);
 
  border-radius: 20px;
  position: relative;
}

.pricing-box .plan {
  font-size: 34px;
}




.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
p {
    line-height: 1.7;
}